* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
html, body, #content {
    height: 100%;
}

[ng-controller] {
    border: solid thick black;
}

[ng-controller="menuPanelCtrl"] {
    height: 20%;
}

[ng-controller="menuPanelCtrl"] li {
    display: inline;
}

[ng-controller="testCaseCtrl"], [ng-controller="testCommandCtrl"] {
    height: 50%;
}

[ng-controller="testCaseCtrl"] {
    float: left;
    width: 30%;
}

[ng-controller="testCommandCtrl"] {
    float: right;
    width: 60%;
}

[ng-controller="messagesCtrl"] {
    clear: both;
    height: 30%;
}

