<!DOCTYPE html>
<html ng-csp ng-app ng-cloak>
<head>
    <meta charset="utf-8">
    <title>panel</title>

    <link rel="stylesheet" href="/css/angular-ui.min.css">
    <link rel="stylesheet" href="/css/panel.css">

    <script src="/lib/jsdeferred.js"></script>
    <script src="/lib/lodash.custom.min.js"></script>
    <script src="/lib/zepto.min.js"></script>
    <script src="/lib/backbone-min.js"></script>

    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-ui.min.js"></script>

    <script src="/js/panel/selenium_ide.js"></script>

    <script src="/js/panel/model/TestComand.js"></script>
    <script src="/js/panel/model/TestCase.js"></script>
    <script src="/js/panel/model/TestCases.js"></script>

    <script src="/js/panel/ctrl/menuPanel.js"></script>
    <script src="/js/panel/ctrl/messages.js"></script>
    <script src="/js/panel/ctrl/testCase.js"></script>
    <script src="/js/panel/ctrl/testCommand.js"></script>
    <script src="/js/panel.js"></script>
</head>
<body>

<div id="content">

    <div ng-controller="menuPanelCtrl">
        <ul>
            <li><label for="baseURL">Base URL</label><input type="text" id="baseURL" ng-model="baseURL"></li>
            <li><label for="operationSpeed">speed</label><input type="range" id="operationSpeed" min="1" max="5" value="1"></li>
            <li><button id="executeTestCase" ng-click="executeTestCase()">execute test case</button></li>
            <li><button id="executeTestCommand">execute test command</button></li>
            <li><button id="quitBrowser" ng-click="quitBrowser()">quit browser</button></li>
            <li><label for="recordingOperation">recording</label><input type="checkbox" id="recordingOperation"></li>
        </ul>
    </div><!-- #menuPanelCtrl -->

    <div ng-controller="testCaseCtrl">
        testCaseCtrl
    </div><!-- #testCaseCtrl -->

    <div ng-controller="testCommandCtrl">
        <table>
            <tr ng-repeat="command in testCase.toArray()">
                <td><select ng-model="command.attributes.name" ng-options="obj.value as obj.text for obj in commandList"></select></td>
                <td><input type="text" ng-model="command.attributes.selector"></td>
                <td><input type="text" ng-model="command.attributes.value"></td>
            </tr>
        </table>
    </div><!-- #testCommandCtrl -->

    <div ng-controller="messagesCtrl">
        messagesCtrl
    </div><!-- #messagesCtrl -->

</div><!-- #content -->

</body>
</html>