<!DOCTYPE html>
<html ng-csp ng-app ng-cloak>
<head>
    <meta charset="utf-8">
    <title>panel</title>

    <link rel="stylesheet" href="/css/angular-ui.min.css">
    <link rel="stylesheet" href="/css/panel.css">

    <script src="/lib/jsdeferred.js"></script>
    <script src="/lib/lodash.custom.min.js"></script>
    <script src="/lib/zepto.min.js"></script>
    <script src="/lib/backbone-min.js"></script>

    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-ui.min.js"></script>

    <script src="/js/panel/selenium_ide.js"></script>

    <script src="/js/panel/model/TestComand.js"></script>
    <script src="/js/panel/model/TestCase.js"></script>
    <script src="/js/panel/model/TestCases.js"></script>

    <script src="/js/panel/ctrl/menuPanel.js"></script>
    <script src="/js/panel/ctrl/messages.js"></script>
    <script src="/js/panel/ctrl/testCase.js"></script>
    <script src="/js/panel/ctrl/testCommand.js"></script>
    <script src="/js/panel.js"></script>
</head>
<body>

<div id="content">

    <div ng-controller="menuPanelCtrl">
        <label for="baseURL">Base URL</label><input type="text" id="baseURL" ng-model="baseURL">
        <ul>
            <li class="speedLine"><label for="operationSpeed"><span>fast</span><span>slow</span></label><input type="range" id="operationSpeed" value="0"></li>
            <li><button id="executeTestCase" ng-click="executeTestCase()"><img src="/img/panel/play_all.png"></button></li>
            <li><button id="executeTestCommand"><img src="/img/panel/play_current.png"></button></li>
            <li><button id="stopTest"><img src="/img/panel/stop.png"></button></li>
            <li><button id="operationRecording"><img src="/img/panel/rec_stop.png"></button></li>
            <li><button id="quitBrowser" ng-click="quitBrowser()">quit</button></li>
        </ul>
    </div><!-- #menuPanelCtrl -->

    <div ng-controller="testCaseCtrl">
        testCaseCtrl
    </div><!-- #testCaseCtrl -->

    <div ng-controller="testCommandCtrl">
        <table>
            <tr ng-repeat="command in testCase.toArray()">
                <td><select ng-model="command.attributes.name" ng-options="obj.value as obj.text for obj in commandList"></select></td>
                <td><input type="text" ng-model="command.attributes.selector"></td>
                <td><input type="text" ng-model="command.attributes.value"></td>
            </tr>
        </table>
    </div><!-- #testCommandCtrl -->

    <div ng-controller="messagesCtrl">
        messagesCtrl
    </div><!-- #messagesCtrl -->

</div><!-- #content -->

</body>
</html>